@import "layout.css";

/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    COLORS
*/

:root{
    --main-color: #0084FD;
    --main-color-variation: #B5DDFF;
    --secondary-color: #9792E4:
}


