@import "layout.css";
@import "style.css";

/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    COLORS
*/

:root{
    --main-color: #0084FD;
    --main-color-variation: #B5DDFF;
    --secondary-color: #9792E4:
}

/* 
    GENERAL
*/

.button{

}

/* 
    RESPONSIVE
*/

@media screen and (min-width: 768px){
    
}


@media screen and (min-width: 992px){

}