@import "layout.css";
@import "style.css";

/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    COLORS
*/

:root{
    --main-color: #0084FD;
    --main-color-variation: #B5DDFF;
    --main-color-hover: #55a7f3;
    --secondary-color: #9792E4;
    --secondary-color-hover:rgb(182, 179, 228);
    --tertiary-color: #333333;
}


/* 
    RESPONSIVE
*/

@media screen and (min-width: 768px){


    /* MAIN */

    /* DEMO */

    .demo .container > .row{
        margin: 0 -.625rem;
    }

    .demo .container > .row > .col:first-of-type{
        width: calc(((100% / 3) * 2) - 1.875rem);
        padding-bottom: 0;
    }

    .demo .container > .row > .col:first-of-type .center-text{
        text-align: left;
    }

    .demo .container > .row > .col{
        margin: 0 0.9375rem 2rem 0.9375rem;
        width: calc((100% / 3) -  1.875rem);
    }

    .demo .container > .row > .col > .row{
        justify-content: left;
    }

    .demo .img-col{
        width: 70%;
    }

    /* PLANNING */

    .planning .plan-1 h3{
        text-align: left;
        font-size: 4.5rem;
        margin: 3rem 0;
    }
    
    /* TESTIMONIALS */

    .row.test-col .col:first-of-type{
        width: 40%;
    }

    .row.test-col .col:last-of-type{
        width: 60%;
        text-align: left;
    }

    .row.test-col .col:last-of-type h3{
        font-size: 1.4rem;
    }

    /* BENEFITS */
    
    .benefits .row{
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
    }

    .benefits .col{
        margin-left: 0.9375rem;
        margin-right: 0.9375rem;
        width: calc((100% / 2) -  1.875rem);
    }

    /* ABOUT US */

    .about-us .col:first-of-type{
        width: 60%;
    }

    .about-us .col:last-of-type{
        width: 40%;
    }

    .about-us .about-col h2{
        font-size: 5rem;
    }

    /* FOOTER */

    .top-footer .container > *{
        margin-bottom: 3rem;
    }

    .top-footer h2:first-of-type{
        font-size: 3rem; 
    }

    .top-footer h2:last-of-type{
        font-size: 6rem; 
    }

    .top-footer p{
        width: 60%;
        margin: 0 auto;
    }

    .bottom-footer p{
        width: 70%;
        margin: 0 auto;
    }

    .bottom-footer h4{
        width: 50%;
    }

}


@media screen and (min-width: 992px){

    
    /* GENERAL */

    .container{
        max-width: 1200px;
    }

    .container-small{
        max-width: 1000px;
        width: 80%;
        margin: 0 auto;
    }

    /* HEADER */

    header #logo{
        width: 4rem;
    }

    header .row{
        align-items: center;
    }

    header nav:first-of-type{
        display: inline-block;
        padding: 1rem 0;
    }

    header nav:last-of-type{
        display: none;
    }

    /* MAIN */

    /* DEMO */

    .demo .container .row .col .row{
        height: 100%;
    }

    .demo .container .row .col .row .col{
        width: 50%;
    }

    /* PLANNING */
    .planning .container{
        max-width: 1000px;
        width: 80%;
    }

    .planning .row{
        justify-content: space-between;
        align-items: flex-end;
    }

    .planning .col{
        width: 45%;
    }

    .planning .plan-1 img{
        margin-top: 3rem;
        margin-bottom: 10rem;
    }

    .planning .plan-1 h3{
        font-size: 2rem;
    }

    
    /* TESTIMONIALS */

    .row.test-col{
        justify-content: space-between;
    }

    .row.test-col .col:first-of-type{
        width: 20%;
    }

    .row.test-col .col:last-of-type{
        width: 75%;
        text-align: left;
    }

    /* BENEFITS */

    .benefits .row{
        padding-bottom: 3rem;
    }

    .benefits .col{
        width: calc((100% / 3) -  1.875rem);
    }
    
    /* ABOUT US */

    .about-us .col:first-of-type{
        width: 75%;
    }

    .about-us .col:last-of-type{
        width: 25%;
    }

    .about-us .about-col:last-of-type p{
        font-size: 1.5rem;
    }

    .about-us .col:last-of-type button{
        padding: .625rem;
    }

    .about-us .col:last-of-type button a{
        font-size: .9rem;
    }


    /* FOOTER */

    .top-footer p{
        width: 40%;
        margin: 0 auto;
    }
    
    .bottom-footer p{
        width: 40%;
        margin: 0 auto;
    }

    .bottom-footer h4{
        width: 30%;
    }

}