@import "layout.css";
@import "style.css";

/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    COLORS
*/

:root{
    --main-color: #0084FD;
    --main-color-variation: #B5DDFF;
    --secondary-color: #9792E4;
}

/* 
    GENERAL
*/

.button{

}

/* 
    RESPONSIVE
*/

@media screen and (min-width: 768px){


    /* MAIN */

    /* DEMO */

    .demo .row{
        margin: 0 -.625rem;
    }

    .demo .col:first-of-type{
        width: calc(((100% / 3) * 2) - 1.875rem);
    }

    .demo .col{
        margin: 0 0.9375rem;
        width: calc((100% / 3) -  1.875rem);
    }

    /* BENEFITS */
    
    .benefits .row{
        margin: 0 -0.9375rem;
    }

    .benefits .col{
        margin: 0 0.9375rem;
        width: calc((100% / 2) -  1.875rem);
    }

    /* ABOUT US */

    .about-us .col{
        width: 50%;
    }
}


@media screen and (min-width: 992px){

      
        /* GENERAL */

        .container-small{
            max-width: 1000px;
            width: 80%;
            margin: 0 auto;
        }

        /* HEADER */

        header nav:first-of-type{
            display: inline-block;
        }

        header nav:last-of-type{
            display: none;
        }

        /* MAIN */

        /* PLANNING */
        .planning .container{
            max-width: 1000px;
            width: 80%;
        }

        .planning .col{
            width: 50%;
        }

        /* BENEFITS */
    
        .benefits .row{
            margin: 0 -0.9375rem;
        }

        .benefits .col{
            margin: 0 0.9375rem;
            width: calc((100% / 3) -  1.875rem);
        }
}