@import "layout.css";
@import "style.css";

/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    COLORS
*/

:root{
    --main-color: #0084FD;
    --main-color-variation: #B5DDFF;
    --main-color-hover: #55a7f3;
    --secondary-color: #9792E4;
    --tertiary-color: #333333;
}


/* 
    RESPONSIVE
*/

@media screen and (min-width: 768px){


    /* MAIN */

    /* DEMO */

    .demo .container > .row{
        margin: 0 -.625rem;
    }

    .demo .container > .row > .col:first-of-type{
        width: calc(((100% / 3) * 2) - 1.875rem);
        padding-bottom: 0;
    }

    .demo .container > .row > .col:first-of-type .center-text{
        text-align: left;
    }

    .demo .container > .row > .col{
        margin: 0 0.9375rem 2rem 0.9375rem;
        width: calc((100% / 3) -  1.875rem);
    }

    .demo .img-col{
        width: 70%;
        margin: 0;
    }

    
    /* BENEFITS */
    
    .benefits .row{
        margin: 0 -0.9375rem;
    }

    .benefits .col{
        margin: 0 0.9375rem;
        width: calc((100% / 2) -  1.875rem);
    }

    /* ABOUT US */

    .about-us .col{
        width: 50%;
    }

    /* FOOTER */

    footer .col{
        width: 50%;
    }  

}


@media screen and (min-width: 992px){

    
    /* GENERAL */

    .container{
        max-width: 1200px;
    }

    .container-small{
        max-width: 1000px;
        width: 80%;
        margin: 0 auto;
    }

    /* HEADER */

    header nav:first-of-type{
        display: inline-block;
    }

    header nav:last-of-type{
        display: none;
    }

    /* MAIN */

    /* DEMO */

    .demo .container .row .col .row{
        height: 100%;
    }

    .demo .container .row .col .row .col{
        width: 50%;
    }
    
    .demo .img-col{
        padding-top: 3rem;
    }

    /* PLANNING */
    .planning .container{
        max-width: 1000px;
        width: 80%;
    }

    .planning .col{
        width: 50%;
    }

    /* BENEFITS */

    .benefits .row{
        margin: 0 -0.9375rem;
    }

    .benefits .col{
        margin: 0 0.9375rem;
        width: calc((100% / 3) -  1.875rem);
    }
    
    /* FOOTER */

    footer .col{
        width: 30%;
    }  
}