/* 
    GENERAL
*/

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 100%
}

.container{
    width: 90%;
    margin: 0 auto;
}

main section{
    margin-bottom: 5rem;
}

/* 
    HEADER
*/

header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 999;
}

header .col{
    width: 50%;
}

/* 
    MAIN
*/

main{
    margin-top: 8rem;
}

/* DEMO SECTION */

.demo .col{
    margin-bottom: 2rem;
}

/* PLANNING SECTION */

.planning{
    background-color: var(--secondary-color);
}

/* TESTIMONIALS SECTION */

/* BENEFITS */

.benefits{
    background-color: var(--secondary-color);
}

/* ABOUT US SECTION */


/* 
    FOOTER
*/


/* TOP FOOTER */
.top-footer{
    background-color: var(--secondary-color);
}

/* TOP FOOTER */
.bottom-footer{
    background-color: var(--tertiary-color);
}
