/* 
    GENERAL
*/

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 100%
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

section{
    margin-bottom: 6.25rem;
}
/* 
    HEADER
*/

header{
    background-color: var(--main-color);
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
}

header .col{
    width: 50%;
}

/* 
    MAIN
*/

main{
    margin-top: 3.125rem;
}

/* DEMO SECTION */

.demo .col{
    background-color: var(--main-color-variation);
}

/* PLANNING SECTION */

.planning{
    background-color: var(--secondary-color);
}

/* TESTIMONIALS SECTION */

/* BENEFITS */

.benefits{
    background-color: var(--secondary-color);
}

/* 
    DEBUG
*/

section .col{
    height: 30rem;
}

.planning .col{
    background-color: lightcoral;
}

.testimonials .col{
    background-color: lightskyblue;
}

.benefits .col{
    background-color: lightsalmon;
}