/* 
    HEADER
*/

header a{
    color: white;
    text-decoration: none;
}

header .row{
    justify-content: space-between;
}

header .col:last-of-type{
    text-align: right;
}

header nav:first-of-type{
    display: none;
}

header nav ul{
    display: inline-block;
}

header nav ul li{
    display: inline-block;
    padding: 0 1rem;
}