/* 
    GENERAL
*/
body{
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100%;
}

.button{
    border: 0px;
    border-radius: 1rem;
    padding: .625rem 1rem;
}

main .col{
    border-radius: 1.25rem;
    padding: 1rem;
}

/* 
    UTILITIES
*/

.center-text{
    text-align: center;
}
/* 
    HEADER
*/

header{
    background-color: var(--main-color);
}

header a{
    color: white;
    text-decoration: none;
    padding: 1.25rem 0;
}

header li:hover a{
    text-decoration: underline;
}

header .row{
    justify-content: space-between;
}

header #logo{
    padding: 1rem 0;
    width: 80px;
}

header .col:last-of-type{
    text-align: right;
}

header nav:first-of-type{
    display: none;
}

header nav ul{
    display: inline-block;
}

header nav ul li{
    display: inline-block;
    margin: 0 .3rem;
}

header .hamburger{
    border: 0px;
    background-color: transparent;
    color: white;
    font-size: 1.8rem;
}

header nav:first-of-type{
    padding: 1.25rem 0;
    font-size: 1.15rem;
}

header nav:first-of-type button{
    background-color: white;
}

header nav:first-of-type button:hover  a{
    color: var(--main-color)
}

header nav:first-of-type button a{
    color: black;
    font-size: 0.9375rem;
}

header nav:last-of-type div{
    padding: 1.25rem 0;
}

/* 
    MAIN
*/

/* DEMO SECTION */

.demo .col{
    background-color: var(--main-color-variation);
}
.demo i,
.demo h2{
    color: var(--main-color)
}

.demo .fa-solid{
    font-size: 6rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.demo h2{
    margin-bottom: 1.25rem;
}

.demo p{
    line-height: 2.3rem;
    padding-bottom: 2rem;
    color: rgb(83, 83, 83);
    font-weight: 700;
}

.demo button{
    background-color: var(--main-color);
    padding: .8rem 3rem;
}

.demo button{
    background-color: var(--main-color);
    padding: .8rem 3rem;
}

.demo button:hover{
    background-color: var(--main-color-hover);
}

.demo button a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.demo button a i{
    color: white;
}

.demo .container > .row > .col:first-of-type{
    padding-bottom: 0;
}

.demo .container > .row > .col > .row{
    justify-content: center;
}

.demo .img-col{
    padding-bottom: 0;
    margin-bottom: 0;
    display: flex;
    align-items: flex-end;
    max-width: 400px;
}

.demo .img-col img{
    display: block;
}

/* PLANNING SECTION */

.planning .plan-1 img{
    padding: 3rem 0;
}

.planning .plan-1 h3{
    color:white;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.planning .plan-1 p{
    color:white;
    font-size: 1.1rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.planning .plan-2{
    background-color: white;
    border-radius: 2.5rem;
    padding: 1.25rem;
    margin-bottom: 3rem;
}

.planning .plan-2 h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.planning .plan-2 p{
    font-style: italic;
    font-size: 1.1rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.planning .plan-2 div{
    margin: 3rem auto;
}

.planning .plan-2 div a{
    background-color: var(--secondary-color);
    padding: 1rem 1.25rem;
    border-radius: 50%;
    font-size: 1.5rem;
}

/* TESTIMONIALS */

.testimonials h3{
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-weight: 400;
}

.testimonials h2{
    color: var(--secondary-color);
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.testimonials p{
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
}

.testimonials .test-col{
    background-color: var(--secondary-color);
    border-radius: 2rem;
    padding: 1.25rem 0;
    color: white;
}

.testimonials .test-col p{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.testimonials .test-col p i{
    font-size: 2rem;
}

.testimonials .test-col h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.testimonials .test-col .image-cropper {
    width: 13rem;
    height: 13rem;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}
.testimonials .test-col .image-cropper img {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
}